<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626158839874-7ah5d0lmnaqhra78ta12h3h1513e0e2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626158839874-7ah5d0lmnaqhra78ta12h3h1513e0e2j</string>
	<key>API_KEY</key>
	<string>AIzaSyCmIEr-Tl_s9JghiWZROrvLDcqoYaI95lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>626158839874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ManthanVanani.IELTSReadingAT</string>
	<key>PROJECT_ID</key>
	<string>ielts-reading-at</string>
	<key>STORAGE_BUCKET</key>
	<string>ielts-reading-at.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626158839874:ios:34bcc1840ceeeef9f325db</string>
</dict>
</plist>